<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dd.android.shenmajia.billshow"
    android:versionCode="1"
    android:versionName="1.00" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="dd.android.shenmajia.billshow.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dd.android.shenmajia.billshow.RegActivity"
            android:label="@string/title_activity_reg" >
        </activity>
        <activity
            android:name="dd.android.shenmajia.billshow.DashboardActivity"
            android:label="@string/title_activity_dashboard" >
        </activity>
        <activity
            android:name="dd.android.shenmajia.billshow.BillsActivity"
            android:label="@string/title_activity_bills" >
        </activity>
        <activity
            android:name="dd.android.shenmajia.billshow.BillFormActivity"
            android:label="@string/title_activity_bill_form" >
        </activity>
        <activity
            android:name="dd.android.shenmajia.billshow.PlacesActivity"
            android:label="@string/title_activity_places" >
        </activity>
        <activity
            android:name="dd.android.shenmajia.billshow.CostFormActivity"
            android:label="@string/title_activity_cost_form" >
        </activity>
        <activity
            android:name="dd.android.shenmajia.billshow.LauncherActivity"
            android:label="@string/title_activity_launcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dd.android.shenmajia.billshow.CostsActivity"
            android:label="@string/title_activity_costs" >
        </activity>

        <activity
            android:name="dd.android.shenmajia.billshow.PlaceSelectActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name="dd.android.shenmajia.billshow.GoodSearchActivity"
            android:label="@string/title_activity_search_good" >
        </activity>
        <!-- umeng -->
        <activity
            android:name="com.umeng.fb.ui.SendFeedback"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.umeng.fb.ui.FeedbackConversations" />
        <activity
            android:name="com.umeng.fb.ui.FeedbackConversation"
            android:configChanges="keyboard" />

        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" >
        </service>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="50d7e5a4527015388e000056" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="test" />

        <!-- umeng end -->
    </application>

</manifest>